.datepicker {
  --datepicker-color: #333;
  --datepicker-bg: #fff;
  --datepicker-border-color: #cfcfcf;
  --datepicker-main-color: #3d9ff0;
}

.datepicker,
.datepicker * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.datepicker-inputRoot {
  display: inline-block;
  min-width: 160px;
}

.datepicker-inputBox {
  display: flex;
  height: 40px;
  border: 1px solid var(--datepicker-border-color);
  border-radius: 4px;
  color: var(--datepicker-color);
  background-color: var(--datepicker-bg);
}

.datepicker-calendarBtn {
  position: relative;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-block: auto;
  background-color: transparent;
  transition: ease 0.1s all;
}

.datepicker-calendarBtn svg {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 60%;
  height: 60%;
}

.datepicker-calendarBtn:hover {
  background-color: color-mix(in srgb, var(--datepicker-color) 5%, transparent);
}

.datepicker-calendarBtn:active {
  background-color: color-mix(
    in srgb,
    var(--datepicker-color) 10%,
    transparent
  );
}

.datepicker-input {
  min-width: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 0;
  outline: 0;
  font-size: 14px;
  padding-inline: 12px;
  transition: ease-out all 0.1s;
}

.datepicker-input:hover {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 7%,
    transparent
  );
}

.datepicker-inputBox.--active {
  background-color: inherit;
  border-color: var(--datepicker-main-color);
}

.datepicker-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.datepicker-backdrop {
  position: fixed;
  inset: 0;
  width: 0;
  height: 0;
  background-color: color-mix(
    in srgb,
    var(--datepicker-color) 33%,
    transparent
  );
  opacity: 0;
  transition: ease-out opacity 0.1s;
}

.datepicker-backdrop.--active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.datepicker-calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  border: 1px solid var(--datepicker-border-color);
  border-radius: 4px;
  color: var(--datepicker-color);
  background-color: var(--datepicker-bg);
}

.datepicker.--scaleUp {
  animation: ease 0.2s scaleUp;
}

.datepicker.--scaleDown {
  animation: ease 0.2s scaleDown;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    scale: 66%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes scaleDown {
  0% {
    opacity: 1;
    scale: 100%;
  }
  100% {
    opacity: 0;
    scale: 66%;
  }
}

.datepicker-controls {
  padding: 4px;
  border-bottom: 1px solid var(--datepicker-border-color);
  display: flex;
  align-items: center;
}

.datepicker-controls__title {
  margin-inline: auto;
  padding-inline: 0.5rem;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.datepicker-controls__title i {
  font-style: normal;
  color: color-mix(in srgb, var(--datepicker-color) 60%, transparent);
}

.datepicker-controls__btn {
  padding: 0.25rem;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: color-mix(in srgb, var(--datepicker-color) 66%, transparent);
  background-color: transparent;
  cursor: pointer;
}

.datepicker-controls__btn > svg {
  flex-grow: 1;
}

.datepicker-controls__title:hover,
.datepicker-controls__btn:hover {
  background-color: color-mix(in srgb, var(--datepicker-color) 9%, transparent);
}

.datepicker-controls__title:active,
.datepicker-controls__btn:active {
  background-color: color-mix(
    in srgb,
    var(--datepicker-color) 14%,
    transparent
  );
}

.datepicker-controls__btn:disabled {
  pointer-events: none;
  user-select: none;
  color: color-mix(in srgb, var(--datepicker-color) 20%, transparent);
}

.datepicker-content {
  padding: 4px;
  font-size: 12px;
}

.datepicker-content.--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 32px;
}

.datepicker-content.--months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40px;
}

.datepicker-content.--years {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 56px;
}

.datepicker-content__weekday {
  text-align: center;
  color: #fb9052;
  cursor: default;
  margin-block: 8px 4px;
}

.datepicker-content__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.datepicker-content__cell.--today {
  color: var(--datepicker-main-color);
}

.datepicker-content__cell.--other {
  color: color-mix(
    in srgb,
    var(--datepicker-border-color),
    var(--datepicker-color) 10%
  );
}

.datepicker-content__cell.--active {
  color: var(--datepicker-bg);
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 86%,
    transparent
  );
}

.datepicker-content__cell.--active:hover {
  background-color: var(--datepicker-main-color);
}

.datepicker-content__cell.--active.--other {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 60%,
    transparent
  );
}

.datepicker-content__cell.--active.--other:hover {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 74%,
    transparent
  );
}

.datepicker-content__cell.--disabled {
  user-select: none;
  pointer-events: none;
  background-color: transparent;
  color: color-mix(in srgb, var(--datepicker-color) 20%, transparent);
}

.datepicker-content__cell:hover {
  background-color: color-mix(in srgb, var(--datepicker-color) 9%, transparent);
}

.datepicker-content__cell.--hidden {
  visibility: hidden;
}
