.datepicker {
  --datepicker-color: #333;
  --datepicker-bg: #fff;
  --datepicker-border-color: #cfcfcf;
  --datepicker-main-color: #3d9ff0;
}

.datepicker-input {
  border: 1px solid var(--datepicker-border-color);
  outline: 0;
  height: 2rem;
  font-size: 0.875rem;
  padding-inline: 0.75rem;
  border-radius: 4px;
  color: var(--datepicker-color);
  background-color: var(--datepicker-bg);
  transition: ease-out all 0.1s;
}

.datepicker-input:hover {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 7%,
    transparent
  );
}

.datepicker-input.--active {
  background-color: inherit;
  border-color: var(--datepicker-main-color);
}

.datepicker-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.datepicker-backdrop {
  position: fixed;
  inset: 0;
  width: 0;
  height: 0;
  background-color: color-mix(
    in srgb,
    var(--datepicker-color) 33%,
    transparent
  );
  opacity: 0;
  transition: ease-out opacity 0.1s;
}

.datepicker-backdrop.--active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.datepicker-calendar-arrow {
  position: absolute;
  rotate: 45deg;
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 0px;
  border-radius: 3px;
  z-index: 0;
}

.datepicker-calendar {
  position: absolute;
  width: 16rem;
  border: 1px solid var(--datepicker-border-color);
  border-radius: 4px;
  color: var(--datepicker-color);
  background-color: var(--datepicker-bg);
}

.datepicker-controls {
  padding: 4px;
  border-bottom: 1px solid var(--datepicker-border-color);
  display: flex;
  align-items: center;
}

.datepicker-controls__title {
  margin-inline: auto;
  padding-inline: 0.5rem;
  height: 2rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 2rem;
  cursor: pointer;
}

.datepicker-controls__title i {
  font-style: normal;
  color: color-mix(in srgb, var(--datepicker-color) 60%, transparent);
}

.datepicker-controls__btn {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.datepicker-controls__btn > svg {
  flex-grow: 1;
  color: color-mix(in srgb, var(--datepicker-color) 66%, transparent);
}

.datepicker-controls__title:hover,
.datepicker-controls__btn:hover {
  background-color: color-mix(in srgb, var(--datepicker-color) 9%, transparent);
}

.datepicker-controls__title:active,
.datepicker-controls__btn:active {
  background-color: color-mix(
    in srgb,
    var(--datepicker-color) 14%,
    transparent
  );
}

.datepicker-content {
  padding: 0.25rem;
  font-size: 0.75rem;
}

.datepicker-content.--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 2rem;
}

.datepicker-content.--months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 2.5rem;
}

.datepicker-content.--years {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 3.5rem;
}

.datepicker-content__weekday {
  text-align: center;
  color: #fb9052;
  cursor: default;
  margin-block: 0.5rem 0.25rem;
}

.datepicker-content__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.datepicker-content__cell.--today {
  color: var(--datepicker-main-color);
}

.datepicker-content__cell.--other {
  color: var(--datepicker-border-color);
}

.datepicker-content__cell.--active {
  color: var(--datepicker-bg);
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 86%,
    transparent
  );
}

.datepicker-content__cell.--active:hover {
  background-color: var(--datepicker-main-color);
}

.datepicker-content__cell.--active.--other {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 60%,
    transparent
  );
}

.datepicker-content__cell.--active.--other:hover {
  background-color: color-mix(
    in srgb,
    var(--datepicker-main-color) 74%,
    transparent
  );
}

.datepicker-content__cell:hover {
  background-color: color-mix(in srgb, var(--datepicker-color) 9%, transparent);
}

.datepicker-content__cell[hidden] {
  visibility: hidden;
}
