.snow-datepicker {
  --snow-datepicker-text-color-rgb: 50, 50, 50; /* #323232 */
  --snow-datepicker-border-color-rgb: 205, 205, 205; /* #CDCDCD */
  --snow-datepicker-background-color-rgb: 255, 255, 255; /* #FFFFFF */
  --snow-datepicker-accent-color-rgb: 61, 159, 240; /* #3D9FF0 */

  --snow-datepicker-text-color: rgb(var(--snow-datepicker-text-color-rgb));
  --snow-datepicker-border-color: rgb(var(--snow-datepicker-border-color-rgb));
  --snow-datepicker-background-color: rgb(
    var(--snow-datepicker-background-color-rgb)
  );
  --snow-datepicker-accent-color: rgb(var(--snow-datepicker-accent-color-rgb));
  --snow-datepicker-weekday-color: #fb9052;
  --snow-datepicker-dayoff-color: rgb(235, 0, 0);
}

.snow-datepicker.--dark {
  --snow-datepicker-text-color-rgb: 238, 238, 238; /* #EEEEEE */
  --snow-datepicker-border-color-rgb: 138, 138, 138; /* #8A8A8A */
  --snow-datepicker-background-color-rgb: 27, 27, 27; /* #1B1B1B */
}

.snow-datepicker,
.snow-datepicker * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.snow-datepicker-inputRoot {
  display: inline-block;
  min-width: 140px;
}

.snow-datepicker-inputBox {
  display: flex;
  height: 40px;
  border: 1px solid var(--snow-datepicker-border-color);
  border-radius: 4px;
  color: #333;
  background-color: var(--snow-datepicker-background-color);
  transition: ease all 0.2s;

  &.--active {
    border-color: var(--snow-datepicker-accent-color);
  }
}

.snow-datepicker-calendarBtn {
  position: relative;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-block: auto;
  background-color: transparent;
  flex-shrink: 0;
  transition: ease 0.1s all;

  & > svg {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    width: 20px;
    height: 20px;
    fill: var(--snow-datepicker-text-color);
  }

  &:hover {
    background-color: rgba(var(--snow-datepicker-text-color-rgb), 8%);
  }

  &:active {
    background-color: rgba(var(--snow-datepicker-text-color-rgb), 12%);
  }
}

.snow-datepicker-input {
  min-width: 108px;
  flex-grow: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: var(--snow-datepicker-background-color);
  color: var(--snow-datepicker-text-color);
  border: 0;
  outline: 0;
  font-size: 14px;
  padding-inline: 12px;
  transition: ease-out all 0.1s;

  &:hover {
    background-color: rgba(var(--snow-datepicker-accent-color-rgb), 7%);
  }
}

.snow-datepicker-inputRoot.--small {
  min-width: 100px;

  & .snow-datepicker-inputBox {
    height: 32px;
  }

  & .snow-datepicker-input {
    padding-inline: 4px;
    min-width: 88px;
    width: 88px;
    flex-grow: 0;
  }

  & .snow-datepicker-calendarBtn {
    width: 28px;
    height: 28px;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.snow-datepicker-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.snow-datepicker-backdrop {
  z-index: -1;
  position: fixed;
  inset: 0;
  background-color: rgba(var(--snow-datepicker-text-color-rgb), 33%);
  opacity: 0;
  transition: ease all 0.3s;
  user-select: none;
  pointer-events: none;
}

.snow-datepicker-container:has(.snow-datepicker-calendar.--center.--show)
  .snow-datepicker-backdrop {
  opacity: 1;
}

.snow-datepicker-calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  border: 1px solid var(--snow-datepicker-border-color);
  border-radius: 4px;
  color: var(--snow-datepicker-text-color);
  background-color: var(--snow-datepicker-background-color);

  &.--inline {
    position: unset;
    top: unset;
    left: unset;
  }

  &.--center {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:focus-visible {
    outline: 1px solid rgba(var(--snow-datepicker-text-color-rgb), 15%);
  }

  &.--scaleUp {
    animation: ease 0.2s scaleUp;
  }

  &.--scaleDown {
    animation: ease 0.2s scaleUp;
    animation-direction: reverse;
  }

  &.--fadeIn {
    animation: ease 0.2s fadeIn;
  }

  &.--fadeOut {
    animation: ease 0.2s fadeIn;
    animation-direction: reverse;
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    scale: 66%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 10px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.snow-datepicker-controls {
  padding: 4px;
  border-bottom: 1px solid var(--snow-datepicker-border-color);
  display: flex;
  align-items: center;
}

.snow-datepicker-controls__title {
  margin-inline: auto;
  padding-inline: 0.5rem;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;

  & i {
    font-style: normal;
    color: rgba(var(--snow-datepicker-text-color-rgb), 60%);
  }
}

.snow-datepicker-controls__btn {
  padding: 0.25rem;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(var(--snow-datepicker-text-color-rgb), 66%);
  background-color: transparent;
  cursor: pointer;

  & > svg {
    flex-grow: 1;
  }
}

.snow-datepicker-buttonWrapper {
  border-top: 1px solid var(--snow-datepicker-border-color);
  padding: 4px;
  display: flex;
}

.snow-datepicker-button {
  height: 32px;
  font-size: 14px;
  text-align: center;
  padding-inline: 8px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--snow-datepicker-accent-color);
  cursor: pointer;
  flex-grow: 1;
}

.snow-datepicker-button:hover,
.snow-datepicker-controls__title:hover,
.snow-datepicker-controls__btn:hover {
  background-color: rgba(var(--snow-datepicker-text-color-rgb), 9%);
}

.snow-datepicker-button:active,
.snow-datepicker-controls__title:active,
.snow-datepicker-controls__btn:active {
  background-color: rgba(var(--snow-datepicker-text-color-rgb), 14%);
}

.snow-datepicker-controls__btn:disabled {
  pointer-events: none;
  user-select: none;
  color: rgba(var(--snow-datepicker-text-color-rgb), 20%);
}

.snow-datepicker-content {
  padding: 4px;
  font-size: 12px;

  &.--days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 32px;
  }

  &.--months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 42px;
  }

  &.--years {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 56px;
  }
}

.snow-datepicker-content__weekday {
  text-align: center;
  color: var(--snow-datepicker-weekday-color);
  cursor: default;
  margin-block: 8px 4px;
}

.snow-datepicker-content__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: var(--snow-datepicker-text-color);
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.--dayoff {
    color: var(--snow-datepicker-dayoff-color);
  }

  &:hover,
  &.--focus {
    background-color: rgba(var(--snow-datepicker-text-color-rgb), 9%);
  }

  &.--today {
    color: var(--snow-datepicker-accent-color);
  }

  &.--other {
    color: rgba(var(--snow-datepicker-text-color-rgb), 10%);
    text-shadow: 0px 0px var(--snow-datepicker-border-color);
  }

  &.--active {
    color: var(--snow-datepicker-background-color);
    background-color: rgba(var(--snow-datepicker-accent-color-rgb), 86%);
  }

  &.--active:hover,
  &.--active:focus,
  &.--active.--focus {
    background-color: var(--snow-datepicker-accent-color);
  }

  &.--active.--other {
    background-color: rgba(var(--snow-datepicker-accent-color-rgb), 60%);
  }

  &.--active.--other:hover,
  &.--active.--other.--focus {
    background-color: rgba(var(--snow-datepicker-accent-color-rgb), 74%);
  }

  &.--disabled {
    user-select: none;
    pointer-events: none;
    background-color: transparent;
    color: rgba(var(--snow-datepicker-text-color-rgb), 20%);
  }

  &.--hidden {
    visibility: hidden;
  }
}
